# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. SparkSQL

**Objectives:Deep dive into Data Science**
* Learn Arithmetic Operations
* Learn Visualization
* Learn Machine Learning
* Learn Open source tools like Jupyter Notebook, Github
* Accessing various tech communities

# Some of the commonly used libraries used by Data Scientists include:
* Numpy
* Pandas
* Matplotlib

# Some of the tools used in Data Science:

|Tool Number|Tool Name|
|-----------|-----------|
|1|Jupyter|
2|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [30]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [34]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print("Hours: ", hours)

Hours:  3.3333333333333335

## Author 
Vamshitha Kundoor